.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.error {
  background-color: rgb(232, 133, 116);
  text-align: center;
  width: 100%;
  color: black;
  border-radius: 2px;
  border: 2px solid red;
}

.form-control input.inputError {
  border: 2px solid red;
}
